In [1]:
import pandas as pd
import dask.dataframe as dd
from os import walk
import numpy as np
import torch
import random
import matplotlib.pyplot as plt

In [2]:
def read_channel(filename):
    """Method to read home channel data from .dat file into panda dataframe
        Args:
                filename: path to a specific channel_(m) from house(n)
        return:
                [pandas.Dataframe] of a signle channel_(m) from house(n)
    """
    channel_to_read = pd.read_csv(filename, names=["Time", "Individual_usage"], delim_whitespace=True)
    return channel_to_read

In [ ]:
def load_chan_list(app_name, ds_name='UKDALE'):
        """
        Returns corresponding meter numbers given appliance name
        For different channels with same name, it will return a list
        """
        chan_list = []
        if(ds_name=='UKDALE'):
            for line in open(os.path.join(self.data_dir, 'labels.dat')):
                if(line.strip('\n').split(' ')[1] == app_name or 
                   line.strip('\n').split(' ')[1][:-1] == app_name):
                    chan_list.append(int(line.strip('\n').split(' ')[0]))
        return(chan_list)

In [41]:
uk = "/home/ibcn079/data/ukdale/house1/channel_1.dat"
uk2 = "/home/ibcn079/data/ukdale/house1/channel_10.dat"
mains = "/home/ibcn079/data/ukdale/house1/mains.dat"
data1  = read_channel(uk)
data2 = read_channel(uk2)
aggr =get_aggregate_data(mains)

In [50]:
data2.head()

         Time  Individual_usage
0  1352500098                 1
1  1352500104                 1
2  1352500110                 1
3  1352500116                 1
4  1352500122                 1

In [51]:
aggr.head()

                       Time  Individual_usage
1.363548e+09 337.88  431.04            240.15
             339.43  427.94            240.56
             340.63  429.66            241.07
             338.80  426.99            240.44
             340.88  429.13            241.01