In [1]:
import pandas as pd
import dask.dataframe as dd
from os import walk
import numpy as np
import torch
import random
import matplotlib.pyplot as plt

ImportError: No module named dask.dataframe

In [44]:
def read_channel(filename):
    """Method to read home channel data from .dat file into panda dataframe
        Args:
                filename: path to a specific channel_(m) from house(n)
        return:
                [pandas.Dataframe] of a signle channel_(m) from house(n)
    """
    channel_to_read = pd.read_csv(filename, names=["Time", "Individual_usage"], delim_whitespace=True)
    return channel_to_read

In [ ]:
def check_sample(_aggregate1, _individual_appliance):
    """This method is downsampling aggregate data from 1s data to ~4s data as it was sampled for each individual appliance in REDD data
        Args:
                     _aggregate1 : pandas.Dataframe containing channel_1.dat in a house h(n)
                     _aggregate2 : pandas.Dataframe containing channel_2.dat in a house h(n)
                     _individual_appliance : pandas.Dataframe containing channel of individual appliance in a home from where downsampling is done
        return:
                    [pandas.Dataframe] aggregate, individual_appliance - so it can be converted in a torch tensor after that (and possibly some other transformations)
    """

    aggregate = read_channel(_aggregate1)
    individual_appliance = read_channel(_individual_appliance)
    
    individual_appliance = individual_appliance[individual_appliance["Time"].isin(aggregate["Time"])]
    aggregate = aggregate[aggregate["Time"].isin(individual_appliance["Time"])]
    #print("Aggregate data length: ", len(aggregate), ", Individual appliance length: ", len(individual_appliance))
    return aggregate, individual_appliance

In [41]:
uk = "/home/ibcn079/data/ukdale/house1/channel_1.dat"
uk2 = "/home/ibcn079/data/ukdale/house1/channel_10.dat"
mains = "/home/ibcn079/data/ukdale/house1/mains.dat"
data1  = read_channel(uk)
data2 = read_channel(uk2)
aggr =get_aggregate_data(mains)

In [53]:
data1['Time'] = pd.to_datetime(data1['Time'], unit='ms')

NotImplementedError:

In [50]:
data2.head()

         Time  Individual_usage
0  1352500098                 1
1  1352500104                 1
2  1352500110                 1
3  1352500116                 1
4  1352500122                 1

In [51]:
aggr.head()

                       Time  Individual_usage
1.363548e+09 337.88  431.04            240.15
             339.43  427.94            240.56
             340.63  429.66            241.07
             338.80  426.99            240.44
             340.88  429.13            241.01